* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
}

/* -------------General------------------------- */
.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.container {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}
.section-container {
  /* text-align: center; */
  padding: 4rem 0;
}
.logo {
  font-weight: bolder;
  font-size: 2rem;
  color: #06685c;
}
.text-center {
  text-align: center;
}
.glass {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
  border: 1px;
  border-radius: 20px;
}
.btn-primary {
  color: white;
  background-color: #24bdab;
}

.btn-secondary {
  color: #24bdab;
  background-color: white;
  border: 2px solid #24bdab;
}
.btn-secondary:hover {
  background-color: #24bdab;
  color: white;
}
.section-header {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

/* ------------------Navbar----------------------- */
nav {
  background-color: white;
  position: fixed;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid rgba(57, 48, 48, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* padding: 10px 20px; */
}

nav a {
  text-decoration: none;
  font-size: 0.9rem;
  color: darkslategray;
  font-family: "ubuntu";
  font-weight: 500;
}

nav a:hover {
  color: #09d6bf;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

/* Hide the hamburger menu icon by default */
.nav-toggle {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* For tablets and small screens */
  .nav-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    align-items: flex-start;
  }

  /* Show links on toggle */
  .nav-links.active {
    display: flex;
  }

  /* Show the hamburger menu only on small screens */
  .nav-toggle {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  /* For mobile screens */
  nav a {
    font-size: 0.8rem;
  }

  .nav-content {
    padding: 10px;
  }
}

/* -----------Hero section-------------------- */
#hero-section {
  position: relative;
  background-image: url("/assests/images/heroBg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  text-align: center;
  padding: 0 20px;
  margin-top: 85px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#hero-section h1 {
  font-weight: bold;
  font-size: 3rem;
  z-index: 2;
}

#hero-section h5 {
  font-size: 1.2rem;
  z-index: 2;
  font-weight: lighter;
}

#hero-section button:hover {
  background-color: #11a493;
}

@media (max-width: 768px) {
  /* for tablets */
  #hero-section h1 {
    font-size: 2.5rem;
  }

  #hero-section h5 {
    font-size: 1rem;
  }

  #hero-section button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  #hero-section {
    height: 60vh; /* smaller screens */
  }

  #hero-section h1 {
    font-size: 2rem;
  }

  #hero-section h5 {
    font-size: 0.9rem;
  }

  #hero-section button {
    padding: 8px 16px;
    font-size: 0.85rem;
  }
}

/* -----------------Feature section ----------------- */
#feature-section {
}
.feature-box {
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.feature-box h4 {
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  color: rgb(50, 219, 198);
}
.feature-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(77, 77, 77);
}
.feature-box ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(77, 77, 77);
}
.feature-box ul li::marker {
  list-style: hotpink;
}

/* ---------------------Portfolio/ Our works--------------- */
#portfolio-section {
  background-color: #d9e6e5;
  padding: 4rem 0;
}
.works-text {
  text-align: center;
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  row-gap: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.team-header {
  margin-bottom: 4rem;
}
.work-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.work-box img {
  object-fit: fill;
  height: auto;
  width: 100%;
  display: block;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.work-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.work-description p,
.work-description h4 {
  font-family: "ubuntu";
  color: white;
  text-align: center;
}
.work-description h4 {
  font-size: 1.3rem;
}
.work-box:hover img {
  opacity: 1;
  transform: scale(1.1);
  box-sizing: border-box;
}
.work-box:hover .work-description {
  opacity: 0.9;
}

/* -------------Extended Features--------- */
#e-features-section {
  background-color: #d9e6e5;
  padding-bottom: 4rem;
}

.main-grid-container {
  background-color: #000;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 100px;
  color: white;
  border-radius: 10px;
}

.sub-container-1 {
  padding: 20px;
}
.sub-container-1 img {
  object-fit: fill;
  height: auto;
  width: 100%;
  display: block;
  border-radius: 10px;
}
.sub-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
}
.e-feature-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}
.e-feature-box h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  color: rgb(255, 255, 255);
}
.e-feature-box i {
  font-size: 1.4rem;
  margin-right: 10px;
}
.e-feature-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(115, 115, 115);
}
.e-feature-box a {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

/* -------------Services Section ----------- */
#services-section {
  padding: 4rem 0;
}
.service-box {
  display: flex;
  column-gap: 20px;
  margin-top: 4rem;
}
.service-box-icon {
  width: 160px;
  display: flex;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  color: rgb(50, 219, 198);
}
.service-box-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 30px;
}
.service-box-text h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(77, 77, 77);
}
.service-box-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(77, 77, 77);
}
.service-box-text a {
  font-size: 16px;
  font-weight: 500;
  line-height: 27.2px;
  color: rgb(29, 164, 147);
  text-decoration: none;
}

/* --------About Section------------- */
#about-section {
  padding: 4rem 0;
}
#about-section .container {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 40px;
}
.container-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 50px;
}
.container-1 p {
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  color: rgb(77, 77, 77);
}
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}
.about-grid-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
}
.about-grid-item i {
  font-size: 48px;
  /* font-weight: 400; */
  line-height: 48px;
  color: rgb(108, 117, 125);
}
.about-grid-item h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(77, 77, 77);
}
.about-grid-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(77, 77, 77);
}
.about-grid-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 27.2px;
  color: rgb(29, 164, 147);
  text-decoration: none;
}

.container-2 img {
  object-fit: fill;
  height: auto;
  width: 80%;
  margin-left: auto;
  display: block;
  border-radius: 10px;
}

/* ------------Team Section--------------- */
#team-section {
  padding: 4rem 0;
}
.member-box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}
.member-image {
  object-fit: fill;
  height: auto;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  display: block;
  border-radius: 100%;
}
.member-name {
}
.member-name h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  color: rgb(77, 77, 77);
}
.member-name small {
  font-size: 12px;
  font-weight: 400;
  line-height: 20.4px;
  color: rgb(204, 204, 204);
}
.member-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: rgb(77, 77, 77);
}
.member-socials {
  display: flex;
  gap: 20px;
}
.member-socials a {
  overflow: hidden;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #666666;
  border-radius: 100%;
  color: #fff;
  text-decoration: none;
}
.member-socials a:hover {
  background-color: #11a493;
}

/* -----------------Contact Section ----------- */
#contact-us-section {
  background-color: #d9e6e5;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2311a493' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 4rem 0;
}
.contact-header {
  color: #11a493;
}
.contact-grid-container {
  display: grid;
  grid-template-columns: 4fr 3fr;
}
.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-field {
  flex: 1;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 14px;
  color: #333;
}

.form-single label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.form-single input,
.form-single textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 14px;
  color: #333;
}

textarea {
  resize: none;
}

.btn-submit {
  padding: 12px 30px;
  background-color: #09d6bf;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  width: fit-content;
}

.btn-submit:hover {
  background-color: #06c5a7;
}

@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
    gap: 10px;
  }

  .btn-submit {
    width: 100%;
    text-align: center;
  }
}
